@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body {
    background-color: #000000;
    font-family: "San Francisco";
position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("Images/manga-panel-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main{
    position: relative;
    text-align: center;
    z-index: 5;
}
input[type=text] {
width: 20%;
padding: 12px;
margin: 10px 0;
box-sizing: border-box;
border-radius: 5px;
align-items: center;
}

#search-btn{
width: 8%;
padding: 12px;
background-color: rgb(1, 32, 206);
color: white;
transition: background-color 0.3s ease;
box-sizing: border-box;
border-radius: 5px;
}
#search-btn:hover{
    background-color: rgb(0, 21, 138);
    cursor: pointer;
}
#menu-btn{
    position: relative;
    margin-top: 3%;
    align-items: center;
    width: 5vh;
    z-index: 5;
}
#menu-btn:hover{
    cursor: pointer;
}
#menu-btn + ul {
    font-family: "San Francisco";
    
    
    font-weight: bold;
    width: auto;
    visibility: hidden;
    list-style-type: none;
    padding: 0;
}
#menu-btn + ul li {
    
    margin: 15px 0;
    font-size: 1.2em;
}
#menu-btn + ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
}
#banner {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    
    width: 40%; 
    height: auto;
    
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border-radius: 0 0 15px 15px;
}
#logo{
    
    position: relative;
    display: block;
    margin: 0 auto;
    width: 30%;
    z-index: 3;
}

#ch_naruto{
    position: absolute;
    height: 150vh;
    width: auto;
    top: 10vh;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}
#ch_bleach{
    position: absolute;
    height: 80vh;
    width: auto;
    top: 30vh;
    left: 120vh;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));

    
}
#bg-gradient{
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#aboutPage{
    bottom: 0;
    position:fixed;
    width: 100%;
    text-align: center;
    z-index: 5;
    color: white;
}
